.middleme {
    text-align: center;
}

.slideshow {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

/*base website style changes*/

::selection {
    background-color: rgb(150, 109, 161);
    color: #fff;
}

a {
    color: rgb(150, 109, 161);
}

a:hover {
    color: rgb(104, 43, 119);
}

.btn-primary {
    color: #fff;
    background-color: rgb(150, 109, 161);
    border-color: rgb(104, 43, 119);
}

.btn-primary:hover {
    background-color: rgb(104, 43, 119);
    border-color: rgb(104, 43, 119);
}

.btn-primary.active {
    background-color: rgb(104, 43, 119);
    border-color: rgb(104, 43, 119);
}

.btn-primary.disabled {
    background-color: rgb(157, 135, 163);
    border-color: rgb(150, 109, 161);
}

.btn-link {
    color: #fff;
}

.panel-default>.panel-heading {
    background-color: rgb(150, 109, 161);
    border-color: rgb(104, 43, 119);
}

.panel-info.panel-info {
    border-color: rgb(150, 109, 161);
}

.panel-info>.panel-heading {
    background-color: rgb(150, 109, 161);
    border-color: rgb(104, 43, 119);
}

.panel-title {
    color: white;
}

.panel-title {
    color: white;
}

.help-block {
    color: #fff;
}

.persona-fab {
    background-color: rgb(104, 43, 119);
}

.topic .posts.timeline .timeline-event,
.topic .posts.timeline>[component=post] {
    border-left: 2px solid rgba(157, 135, 163, 0.514);
}

.topic .posts.timeline [component=post]:last-child:after{
    border-bottom: 2px solid rgba(157, 135, 163, 0.514);
}

.posts-list .posts-list-item .post-body{
    border-right: 2px solid rgb(104, 43, 119)
}


/*footer*/

.well {
    color: #fff;
    background-color: rgb(157, 135, 163);
    border-color: rgb(157, 135, 163);
    border-radius: 10px;
}

/*for mobile*/

h1 {
    text-align: center;
}

.content_img {
    position: relative;
    float: left;
    width: 49%;
    text-align: center;
    padding: 0.5%;
}

.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    color: white;
    margin: 5%;
    font-family: sans-serif;
    opacity: 0.7;
    text-align: center;
    font-size: 16px;
}

.added dt {
    font-weight: normal;
}

.added dd {
    padding-left: 5%;
}

@media only screen and (min-width: 775px) and (max-width: 1200px) {
    .added p {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h2 {
        font-size: 25px;
    }

    .content_img {
        position: relative;
        width: 33%;
        padding: 0.33%;
    }

    .content_img div {
        position: center;
        background: black;
        color: white;
        font-family: sans-serif;
        opacity: 0.1;
        transition: visibility 0s, opacity 0.5s linear;
        padding-right: 10%;
        font-size: 20px;
        padding: 0.33%;
    }

    .content_img:hover {
        cursor: pointer;
    }

    .content_img:hover div {
        padding: 0.33%;
        visibility: visible;
        opacity: 0.7;
    }
}


/*for web browsers*/

@media only screen and (min-width: 1200px) {
    .added p {
        font-size: 20px;
    }

    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    .content_img {
        position: relative;
        width: 33%;
        padding: 0.33%;
    }

    .content_img div {
        position: center;
        background: black;
        color: white;
        font-family: sans-serif;
        opacity: 0.1;
        transition: visibility 0s, opacity 0.5s linear;
        padding-right: 10%;
        font-size: 35px;
        padding: 0.33%;
    }

    .content_img:hover {
        cursor: pointer;
    }

    .content_img:hover div {
        padding: 0.33%;
        visibility: visible;
        opacity: 0.7;
    }
}